@media only screen and (max-width:1200px){
    .hero-txt-btn{
        margin-top: 20rem;
        margin-bottom: 18rem;
    }
}
@media only screen and (max-width:1024px){
   html{
       font-size: 8px;
   }
   .client-photo{
    width: 100%;
    float: none;
    margin-right: 0;
    /* margin-left: 20px; */
    text-align: center;
   }
   .client-review{
       margin-left: 2rem;
       width: 95%;
       float: none;
       text-align: center;
       margin-top: 1.5rem;
   }
   .client-review h3{
       text-align:center;
   }
   .sticky{
    padding: 15px 25px;
   }
   footer ul li a{
       padding: 0 2rem;;
   }
}
@media only screen and (max-width:980px){
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    .box-p{
        width: 28rem;
    }
    .services-icon{
        margin-bottom: 2.5rem;
    }
    .services-content h3{
        margin-bottom: 1rem;
    }
    .menu{
        display: none;
    }
    .mobile-menu span{
        display: block;
    }
}
@media only screen and (max-width:576px){
    .contact-header p{
        width: 100%;
    }
    .team-heading p{
        width : 100%;
    }
    h2{
        letter-spacing: .2rem;
    }
    .client-review{
        margin-left: 1rem;
    }
    footer ul li a{
        padding: 0 1rem;
        font-size: 1.5rem;
    }
    .hero-txt{
        font-size: 3.5rem;
    }
}
@media only screen and (max-width:500px){
    .team-member p{
        width : 95%;
    }
    .skills p{
        width: 100%;
    }
    .portfolio-content:nth-child(1){
        margin-left: .5rem;
    }
    .little-description{
        width: 100%;
    }
}

